@"
# Python virtual environments
vechile/
venv/
.venv/
.env/
logs/
artifacts/
# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/
"@ | Set-Content .gitignore